html,
body {
  height: 100%;
  width: 100%;
}

img {
  width: 100%;
}

.section-content {
  padding: 80px 0;
}

.section-title {
  padding-bottom: 20px;
}

#pesto {
  background: #222 url('https://hd.unsplash.com/photo-1467703834117-04386e3dadd8') center center no-repeat;
  background-size: cover;
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
}

#pesto-caption {
  width: 100%;
}

#story {
  background: #ececec url('https://hd.unsplash.com/photo-1414690165279-49ab0a9a7e66') center center no-repeat;
  background-size: cover;
}

.about-text {
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  padding: 1.8rem;
}
